@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Open+Sans:ital,wght@0,300;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap");
/* base css end */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  font-family: "Electrolize", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
section{
    background-color: black;
    /* padding-left: 5rem; */
}
/* base css end */

/* navbar start */
header nav {
  background-color: black;
  color: white;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
header nav .logo {
  font-size: 2.5rem;
  color: red;
}
header nav .menu-container .menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 2rem;
}
header nav .menu-container .menu-list .menu-list-item {
  margin: 1rem;
  cursor: pointer;
}
header nav .menu-container .menu-list .menu-list-item:hover {
  font-weight: bold;
}
header nav .menu-container .menu-list .menu-list-item:active {
  font-weight: bold;
}
header nav .profile-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
header nav .profile-container .profile-picture {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}
header nav .profile-container .profil-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
header nav .profile-container .toggle {
  color: goldenrod;
  background-color: white;
  height: 1.6rem;
  width: 2.8rem;
  border-radius: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav .profile-container .toggle .toggle-ball {
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
/* navbar end */

/* main start */
/* aside start */
aside {
  background-color: black;
  color: white;
  height: 100%;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  row-gap: 4rem;
  position: fixed;
  top: 0;
  left: 0;
}
aside i {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}
/* aside end */
/* section start */
/* article(presentation) start */
section .presentation {
  background: url(/img/spiderman.jpg);
  height: 100vh;
  padding: 4rem 0 0 4rem;
  background-size: 100% 100%;
  background-attachment: cover;
}
section .presentation .presentation-describe {
  width: 35rem;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  margin: 2rem 3rem;
}
section .presentation .presentation-buttons {
  display: flex;
  column-gap: 1rem;
  margin-left: 3rem;
}
section .presentation .presentation-buttons button {
  padding: 15px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
section .presentation .presentation-buttons button .play-button {
  background-color: white;
  color: black;
}
section .presentation .presentation-buttons .info-button {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

/* article(presentation) end*/
/* article (filter) start*/
.movie-list-filter{
    margin: 1rem 0 3rem 5rem;
    padding: 2rem;
}
.movie-list-filter select, .movie-list-filter select:hover{
    background-color: black;
    color: white;
    width: 15rem;
    border: 1px solid red;
    padding: 1rem; 
}
/* article (filter) end*/
/* article (movie list) start */
.movie-list-container{
    margin-left: 5rem;
    color: white;
}
.movie-list-container h1{
    margin: 2rem 0;
}
.movie-list-wrapper{
    overflow: hidden;
}
.movie-list{
    list-style: none;
    padding: 0;
    height: 12rem;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    
}
.movie-item{
    position: relative;
}
.movie-item-img{
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    transition: 0.5s all ease;
}
.movie-item-title{
    background-color: rgba(40, 40, 40, 0.4);
    padding: 0 10px;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top:10%;
    left: 3rem;
    color: white;
    opacity: 0;
    transition: 0.5s all ease;
}
.movie-item-buttons{
    background-color: rgba(40, 40, 40, 0.4);
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    bottom:10%;
    left: 3rem;
    color: white;
    display: flex;
    column-gap: 2rem;
    opacity: 0;
    transition: 0.5s all ease;
}

.movie-item-buttons i{
    cursor: pointer;
    opacity: 0.5;
    font-size: 2rem;
    transition: 0.5s all ease;
}
.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons{
    opacity: 1;
    transition: 1s all ease-in-out;
}
.movie-item:hover .movie-item-img{
    opacity: 0.5;
    transform:scale(1.2);
    margin: 0 2rem;
}
/* article (movie list) end */
/* section end
